:root {
  --color-form-field-text: var(--color-font-gray);
  --color-input-border: var(--color-border);
  --field-label-width: auto;
  --form-field-gap-width: 6px;
  --form-field-gap-width-half: 6px / 2;
  --form-field-font-size: 14px;
}

.form-field {
  display: block;
  overflow: visible;
}

.form-field--error {
  color: var(--color-pink);
  --color-input-underline: var(--color-pink);
  --color-input-border: var(--color-pink);
  --color-input-active-border: var(--color-pink);
  --color-form-field-text: var(--color-pink);
}

.form-field--success {
  color: var(--color-green);
  --color-input-underline: var(--color-green);
  --color-input-border: var(--color-green);
  --color-input-active-border: var(--color-green);
}

.form-field--warning {
  color: var(--color-orange);
  --color-input-underline: var(--color-orange);
  --color-input-border: var(--color-orange);
  --color-input-active-border: var(--color-orange);
}

.form-field--info {
  color: var(--color-blue);
  --color-input-underline: var(--color-blue);
  --color-input-active-border: var(--color-blue);
}

.form-field--full-width {
  width: 100%;
  display: block;
}

.form-field--horizontal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-field__help, .form-field__label {
  line-height: 100%;
  height: var(--form-field-font-size);
}

.form-field .form-field__input > input {
  border-color: var(--color-input-border);
}

.form-field__label {
  font-weight: 500;
  margin: 0 var(--form-field-gap-width) var(--form-field-gap-width) 0;
  font-size: var(--form-field-font-size);
  color: var(--color-form-field-text);
  width: var(--field-label-width);
}

.form-field__label--nowrap {
  white-space: nowrap;
}

.form-field__help {
  margin: var(--form-field-gap-width-half) 0 var(--form-field-gap-width-half) 0;
  font-size: var(--form-field-font-size) - 2px;
}
.form-field__postfix {
  padding-left: 10px;
}