.benchmarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.benchmarks__header {
  grid-column: 1 / span 2;
}

.benchmarks__input {
  width: 150px;
}

.benchmarks__col2 {
  margin: 0 15px 0 auto;
}