.benchmarks {
  display: flex;
  --form-field-font-size: smaller;
}

.benchmarks__input {
  width: 100px;
}

.benchmarks__field:first-child {
  margin: 0 auto 0 0;
}

.benchmarks__field:last-child {
  margin: 0 0 0 15px;
}