.gpu {
  --padding: 10px;
  display: flex;
  margin: 0 0 10px 0;
}

.gpu__field-model {
  margin: auto 10px auto 0;
}

.gpu__field {
  margin: 4px 0 auto 0;
}

.gpu__full-width {
  width: 100%;
}

.gpu__input-count {
  margin: auto 0 auto var(--padding);
  width: 50px;
}

.gpu__button-close {
  margin-bottom: 14px !important;
}