.app {
  max-width: 1000px;
  margin: auto;
}

/*#region Headers and separators  */

.app__header {
  margin-bottom: 33px;
}

.app__header:not(:first-child) {
  margin: 40px 15px 33px 0;
  padding: 40px 0 0 0;
  border-top: 1px solid #e8eef4;
}

.app__separator {
  margin: 40px 15px 0 0;
  padding: 40px 0 0 0;
  border-top: 1px solid #e8eef4;
}

/*#endregion*/

.app__container {
  display: flex;
  flex-direction: row;
}

.app__main-panel {
  width: 100%;
}

.app__add-gpu-link {
  float: right;
  margin: 0 15px 0 0;
}

.app__cpu-field {
  --field-label-width: 100px;
}

.app__cpu-select {
  width: 100%;
}

.app__ram-field {
  --field-label-width: 100px;
  margin: 0 50px 0 0;
}

.app__ram-n-storage {
  display: flex;
  flex-direction: row;
}

.app__ram-n-storage-input {
  width: 100px;
}

.app__network {
  display: flex;
  flex-direction: row;
}

.app__network-field:not(:last-child) {
  margin: 7px 50px 0 0;
}

.app__network-input {
  width: 70px;
}

.app__results-panel {
  height: 100%;
  margin: 0 0 0 10px;
}