.results-panel {
  width: 400px;
  background-color: #f2f7fa;
  display: flex;
  flex-direction: column;
}

/* <Main */

.results-panel__main {
  padding: 24px;
}

.results-panel__header {
  font-family: 'Ubuntu', sans-serif;
}

.results-panel__values {
  display: grid;
  grid-template-columns: auto auto;
}

.results-panel__no-plans {
  padding: 10px;
  background-color: #FAEEFF;
  margin: 0 0 15px 0;
}

.results-panel__server-failed {
  padding: 10px;
  background-color: #FAEEFF;
  margin: 0 0 15px 0;
}

.results-panel__cell {
  margin: 5px 0;
}

.results-panel__cell-value {
  font-weight: 700;
}

.results-panel__hint-message {
  grid-column: span 2;
}

.results-panel__calculate {
  display: flex;
}

.results-panel__calculate-button {
  height: 50px;
}

.results-panel__get-started-link {
  text-decoration: none;
  color: #6522ff;
  margin: auto;
  display: block;
}

.results-panel__get-started-link:hover {
  text-decoration: underline;
}

/* Main/> */

/* <Try Sonm */

.results-panel__try {
  text-decoration: none;
  padding: 24px;
  background: #6522ff;
  color: white;
  display: flex;
}

.results-panel__try-left-block {
  width: 100%;
}

.results-panel__try-header {
  font-weight: 900;
}

/* Try Sonm/> */