.results-panel {
  width: 300px;
  padding: 24px;
  background-color: #f2f7fa;
}

.results-panel__header {
  font-family: 'Ubuntu', sans-serif;
}

.results-panel__grid {
  display: grid;
  grid-template-columns: auto auto;
}

.results-panel__cell {
  margin: 5px 0;
}

.results-panel__cell-value {
  font-weight: 700;
}

